body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #ca0d0d;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #030303;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1eac88;
}

#counter {
    font-size: 24px;
    margin-top: 20px;
}
